<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" https://bootswatch.com/5/cyborg/bootstrap.css" rel="stylesheet">
    <title>Trading</title>
</head>

<body class="bg-light">
    <div class="container p-5">
        <div class="row pb-4">
            <div class="col col-12">
                <h4 class="text-center">Json Data Trading</h4>
            </div>
        </div>
        <div class="row p-2">
            {% for name in data %}
            <div class="col-lg-4 col-md-12 col-sm-12 mt-3">
                    <div class="card bg-white border-none shadow-sm">
                        <div class="card-header" id={{name}}header>
                            <div class="row ml-0 mr-0 pr-0 pl-0">
                                <div class="col col-7 text-left pr-0 mr-0 pt-2"><a target="_blank" class="small text-primary" href="https://www.binance.com/en/trade/{{data[name]['base']}}_{{data[name]['quote']}}?type=spot">{{data[name]['current_market']}}</a></div>
                                <div class="col col-5 text-right pl-0 ml-0"><a href="#" class="small text-dark nav-link disabled">{{name}}</a></div>
                            </div>
                        </div>
                        {% if data[name]['base'] %}
                            <div class="card-body" id="{{name}}">
                            <div class="row border-bottom">
                            <div class="col col-7 text-dark font-weight-bold text-right">Buy Price :</div>
                            <div class="col col-5 text-primary font-weight-normal text-right">{{data[name]['buy_price']}}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col col-7 text-dark font-weight-bold text-right">Current Price :</div>
                                <div class="col col-5 text-primary font-weight-normal text-right">{{data[name]['current_price']}}</div>
                            </div>
                            {% if 'current_margin' in data[name] %}
                            <div class="row border-bottom">
                                <div class="col col-7 text-dark font-weight-bold text-right">Current Margin :</div>
                                <div class="col col-5 {% if data[name]['current_margin'] > 0 %}text-success{% else %}text-danger{%endif%} font-weight-normal text-right">{{data[name]['current_margin']}} %</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col col-7 text-dark font-weight-bold text-right">sarima1 :</div>
                                <div class="col col-5 {% if data[name]['sarima_1_margin'] > 0 %}text-success{% else %}text-danger{%endif%} font-weight-normal text-right">{{data[name]['sarima_1_margin']}} %</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col col-7 text-dark font-weight-bold text-right">sarima3 :</div>
                                <div class="col col-5 {% if data[name]['sarima_3_margin'] > 0 %}text-success{% else %}text-danger{%endif%} font-weight-normal text-right">{{data[name]['sarima_3_margin']}} %</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col col-7 text-dark font-weight-bold text-right">Highest margin :</div>
                                <div class="col col-5 {% if data[name]['last_buy_high'] > 0 %}text-success{% else %}text-danger{%endif%} font-weight-normal text-right">{{data[name]['last_buy_high']}} %</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col col-7 text-dark font-weight-bold text-right">Lowest margin :</div>
                                <div class="col col-5 {% if data[name]['last_buy_low'] > 0 %}text-success{% else %}text-danger{%endif%} font-weight-normal text-right">{{data[name]['last_buy_low']}} %</div>
                            </div>
                            <div class="row">
                                <div class="col col-7 text-dark font-weight-bold text-right">Time held :</div>
                            <div class="col col-5 text-primary font-weight-normal text-right">{{data[name]['time_held']}}</div>
                            </div>

                            {% endif %}
                        </div>
                        {%endif%}

                        <div class="card-footer" id={{name}}btn>
                            {% if data[name]['should_sell'] ==False %}
                                <form action="/sell" method="POST">
                                    <input type="text" hidden name="key" value={{name}}>
                                    <span><input type="submit" class="btn btn-sm btn-outline-dark" value="Sell" /></span>
                                </form>
                            {%endif%}
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>